<div class="auth-container">
  <a href="/" class="logo1">
    <img src="/logo.png" alt="Logo" /> Spießbuch
  </a>
  <h2>Login</h2>
  <% if (error) { %>
    <div class="error"><%= error %></div>
  <% } %>
  <form action="/login" method="POST">
    <label for="username">Benutzername</label>
    <input type="text" id="username" name="username" required autofocus />

    <label for="password">Passwort</label>
    <input type="password" id="password" name="password" required />

    <button type="submit" class="btn">Login</button>
  </form>
  <div class="switch-auth">
    Noch keinen Account?
    <a href="/register">Jetzt registrieren</a>
  </div>
</div>
<!-- Copyright Fußzeile -->
  <div class="copyright">
    <p>&copy; 2025 Gut Schlag Spießbuch v1.0 by RS</p>
  </div>
</div>