<h2>Registrierung</h2>

<% if (error) { %>
  <div class="error"><%= error %></div>
<% } %>

<form action="/register" method="POST" novalidate>
  <label for="username">Benutzername</label><br/>
  <input type="text" id="username" name="username" required autocomplete="username" /><br/>

  <label for="password">Passwort</label><br/>
  <input type="password" id="password" name="password" required autocomplete="new-password" /><br/>

  <button type="submit" class="btn btn-primary">Registrieren</button>
</form>

<p>Schon einen Account? <a href="/login">Login</a></p>
