<div class="auth-container">
  <a href="/" class="logo1">
    <img src="/logo.png" alt="Logo" /> Spießbuch
  </a>
  <h2>Registrieren</h2>
  <% if (error) { %>
    <div class="error"><%= error %></div>
  <% } %>
  <form action="/register" method="POST">
    <label for="username">Benutzername</label>
    <input type="text" id="username" name="username" required autofocus />

    <label for="password">Passwort</label>
    <input type="password" id="password" name="password" required />

    <button type="submit" class="btn-reg">Registrieren</button>
  </form>
  <div class="switch-auth">
    Schon registriert?
    <a href="/login">Login</a>
  </div>
  <footer class="footer">
    &copy; <%= new Date().getFullYear() %> GutSchlag Spießbuch v.1.0 by RS
  </footer>
</div>

  
</div>